body {
    background-color: #354186;
    font-family: Arial, sans-serif;
   /* display: flex;
    justify-content: center;
    align-items: center;*/
    height: 100vh;
  }

  nav {
    /* background-color: #111; */
    background-color: #1f2d73;
    color: white;
    padding: 20px 50px;
  }
  
  .navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  
  .search {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  .searchInput {
    border: none;
    background-color: transparent;
  }
  
  .searchInput::placeholder {
    color: lightgray;
  }
  
  .limitedOffer {
    font-size: 20px;
    border-bottom: 2px solid rgb(194, 40, 156);
    cursor: pointer;
  }
  
  .navBottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menuItem {
    /*position: relative;*/
    margin-right: 50px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
  }
  
  
  .quiz-container {
    height: auto;
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 400px;
    margin-top: 100px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
  }
  
  #question-container {
    margin-bottom: 20px;
  }
  
  #question-text {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  #answer-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  button {
    height: 40px;
    font-size: 16px;
    background-color: #33323a;
    border: none;
    margin-right: 3px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d2d2d2;
  }
  
  #controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #timer-container {
    display: flex;
    align-items: center;
  }
  
  #timer-text {
    font-size: 14px;
  }
  
  #timer {
    font-weight: bold;
    margin-left: 5px;
  }